*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: #555;
}
p#un{
    color: #336699;
}
a{
    color: #CC3300;
}
em#un{
    background: #FFFFCC;
    padding: .1em;
}
em.especial{
    background: #FFCC99;
    border: 1px solid #FF9900;
    padding: .1em;
}
span.normal{
    font-weight: bold;
}